################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WalkSim
/bin
/obj
/.vs/ProjectEvaluation
